* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  color: #384047;
}

header {
  width: 100%;
  text-align: center;
  font-size: .8em;
  padding: 5px;
  background-color: #007a99;
  color: white;
  text-transform: uppercase;
}

form, .signup {
  max-width: 700px;
  margin: 0 auto;
/*
  padding-left: 2px;
  padding-right: 2px;
*/
}

.signup {
  text-align: center;
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 2px;
  border-bottom: solid 4px coral;
}

.singup {
  color: #8a97a0;
}

form {
 border-top: solid 2px coral
}

legend {
  font-weight: bold;
  font-size: 1.4em;
  padding-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #384047;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 2px;
  margin-bottom: 20px;
}

textarea {
  padding: 25px;
}

form p {
  text-align: center;
  font-size: .8em;
  font-style: italic;
}



/*PLACEHOLDER TARGET HACK*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: right;
  font-size: .8em;
  font-style: italic;
}
 ::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
  font-size: .8em;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: right;
  font-size: .8em;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: right;
  font-size: .8em;
  font-style: italic;
}

/*END OF PLACEHOLDER TARGET HACK*/




input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  display: inline-block
}

label[for="html_newsletter"],
label[for="html_format"] {
  margin-top: 10px;
}

label[for="html_newsletter"],
label[for="css_newsletter"],
label[for="javascript_newsletter"],
label[for="html_format"],
label[for="plain_format"]{
  display: inline-block;
  margin-bottom: 5px;
}

label[for="javascript_newsletter"],
label[for="plain_format"]{
  margin-bottom: 30px;
}

/*FOCUS + TRANSITION*/

input[type="text"],
input[type="tel"]
input[type="email"],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/*END OF FOCUS + TRANSITION*/

fieldset {
  padding-top: 20px;
}

fieldset:last-of-type {
  border: none;
}

fieldset:first-of-type {
  padding-bottom: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px coral;
}

input[id="zip"] {
  width: 50%;
  margin-bottom: 0;
}

button[type="submit"] {
  padding: 15px 39px ;
  color: #FFF;
  background-color: #007a99;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #005266;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button[type="submit"]:hover {
  opacity: .75;
}

@media screen and (min-width: 768px) {

  fieldset:first-of-type label:nth-of-type(-n+7),
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    display: inline-block;
    width: 25%;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 74.4%;
  }
  
  input[id="zip"] {
  width: 25%;
  margin-bottom: 0;
}
  
}









